/Lista2 - Cópia/build/
/Lista2 - Cópia/dist/
/Lista2 - Cópia/nbproject/private/
/Lista3-N/nbproject/private/
/Lista3-N/build/
/Lista4/nbproject/private/
/Lista4/build/
/GMBlog/nbproject/private/
/GMBlog/build/
/Lista5/nbproject/private/
/Prova/nbproject/private/
/Gustavo A Pazeto - Tarefa - Diagrama + Projeto/build/
/Gustavo A Pazeto - Tarefa - Diagrama + Projeto/nbproject/private/
/Lista5/build/
/Prova/build/